
<div
  class="component app-accordion {{ background }}"
  id="frequentlyAskedQuestions"
>
  <div class="component container">
    <div class="component col-sm-12 col-lg-10 offset-lg-1">
      <div class="component rich-text">
        <div class="component-content">
          <h1 class="app-accordion-header">HAVE A QUESTION? WE CAN HELP</h1>
        </div>
      </div>

      <div
        class="component accordion initialized"
        data-properties='{"expandOnHover":false,"expandedByDefault":false,"speed":500,"easing":"swing","canOpenMultiple":true,"canToggle":true,"isControlEditable":false}'
      >
        <div class="component-content">
          <div>
            <ul *ngFor="let item of items; let i = index" class="items">
              <li class="item">
                <div
                  class="toggle-header"
                  (click)="toggleMenu($event)"
                  (keydown.enter)="toggleMenu($event)"
                  tabindex="0"
                >
                  <div class="label">
                    <div class="component content">
                      <div class="component-content">
                        <div class="field-heading">
                          <h3>Q{{i + 1}} {{item.question}}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="toggle-content hidden">
                  <div class="component content">
                    <div class="component-content">
                      <div class="field-content">
                        <p
                          style="
                            box-sizing: inherit;
                            font-size: 1.125rem;
                            line-height: 1.688rem;
                            font-weight: 400;
                            margin-top: 10px;
                            margin-bottom: 20px;
                          "
                        >
                       {{item.answer}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
