
<div
  class="component app-accordion {{ background }}"
  id="frequentlyAskedQuestions"
>
  <div class="component container">
    <div class="component">
      <div class="component rich-text">
        <div class="component-content">
          <h1 class="app-accordion-header">HAVE A QUESTION? WE CAN HELP</h1>
        </div>
      </div>

      <div
        class="component accordion initialized"
      >
        <div class="component-content">
          <div>
            <ul *ngFor="let item of items; let i = index" class="items">
              <li class="item">
                <div
                  class="toggle-header"
                  (click)="toggleMenu($event)"
                  (keydown.enter)="toggleMenu($event)"
                  tabindex="0"
                >
                  <div class="label">
                    <div class="component content">
                      <div class="component-content">
                        <div class="field-heading">
                          <span>Q{{i + 1}}</span>
                          <span>{{item.question}}</span>
                          <span>
                            <svg class="svg-rotate__icon" width="40px" height="40px" viewBox="0 0 357 357">
                              <g id="add">
                                <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z" />
                              </g>
                            </svg>
                          </span>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="toggle-content hidden">
                  <div class="component content">
                    <div class="component-content">
                      <div class="field-content">
                       <p>{{item.answer}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
